@using MvcKutuphane.Models.Entity
@model List<TBLHAREKET>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Ödünç Kitap Listesi</h2>
<table class="table table-hover">
    <tr style="background-color:#f1f1f1">
        <th>İŞLEM ID</th>
        <th>KİTAP ADI</th>
        <th>ÜYE</th>
        <th>PERSONEL</th>
        <th>KİTAP ALIŞ TARİHİ</th>
        <th>KİTAP İADE TARİHİ</th>
        <th>İADE AL</th>
        
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.TBLKITAP.AD</td>
            <td>@k.TBLUYELER.AD&nbsp;@k.TBLUYELER.SOYAD</td>
            <td>@k.TBLPERSONEL.PERSONEL</td>
            <td>@Convert.ToDateTime(k.ALISTARIH).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(k.IADETARIH).ToString("dd/MM/yyyy")</td>
            <td><a href="/Odunc/OduncIade/@k.ID" class="btn btn-default" style="background-color:#4383f6;color:white">Kitabı İade Et</a></td>
            
        </tr>
    }
</table>

